#-----------------------------------------------------------------------------------------------
#Begin by renaming this file to .env and filling in the appropriate values for your environment.
#-----------------------------------------------------------------------------------------------

# AllegroGraph Credentials
AG_BASE_URL=allegrograph_base_url
AG_REPO=your_repository_name
AG_USER=your_allegrograph_username
AG_PASSWORD=your_allegrograph_password